@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Sora:wght@100..800&display=swap");

@import "tailwindcss";

@theme {
  --color-hp-200: #F7EFDE;
  --font-display: "Bricolage Grotesque", "sans-serif";
  --font-sora: "Sora", sans-serif;
  --color-deeplum: #482F57;
  --color-lila: #E4CEFF;
  --color-mango: #FFB532;
  --color-sunset: #FF6835;
  --color-midnight: #00335E
}

.gradient-word {
  @apply rounded-full px-3;
}

.gradient-word.amber {
  @apply bg-sunset text-white;
}

.gradient-word.lila {
  @apply from-lila/30 to-lila/0;
}

/* Headre */
#app-header {
  @apply flex top-0 items-center justify-center h-16 z-[99] w-full fixed transition-all;
}

#app-header.active {
  @apply bg-mango 
}



#app-header.active a {
  @apply text-deeplum
}

/* Hero */
#hero h1 span {
  @apply bg-deeplum text-white inline-block px-3.5 rounded-full my-1 font-semibold;
}

/* Splide */
#why .splide .title {
  @apply text-4xl text-sunset font-display font-semibold mb-3 lg:text-5xl;
}

#why .splide .subtitle {
  @apply text-lg text-white/60 font-sora lg:text-4xl lg:leading-16;
}

#why .splide .subtitle span {
  @apply text-white/100 font-medium;
}