@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Sora:wght@100..800&display=swap");

@import "tailwindcss";

@theme {
  --color-hp-200: #f9f4e2;
  --font-display: "Bricolage Grotesque", "sans-serif";
}

.gradient-word {
  @apply border-l-4 rounded pl-1 pr-2 bg-linear-65 from-orange-500/30 to-orange-500/0;
}
