@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Sora:wght@100..800&display=swap");

@import "tailwindcss";

@theme {
  --color-hp-200: #f9f4e2;
  --font-display: "Bricolage Grotesque", "sans-serif";
  --font-sora: "Sora", sans-serif;
  --color-deeplum: #482F57;
  --color-lila: #E4CEFF;
  --color-mango: #FFB532;
  --color-sunset: #FF6835;
  --color-midnight: #00335E
}

.gradient-word {
  @apply border-l-4 rounded pl-1 pr-2 bg-linear-to-r;
}

.gradient-word.amber {
  @apply from-amber-500/30 to-amber-500/0;
}

.gradient-word.lila {
  @apply from-lila/30 to-lila/0;
}

/* Hero */
#hero h1 span {
  @apply bg-deeplum text-white inline-block px-3.5 rounded-full my-1 font-semibold;
}