@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Sora:wght@100..800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

@theme {
  --color-hp-200: #f7efde;
  --font-display: "Poppins", sans-serif;
  --font-sora: "Sora", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --color-deeplum: #482f57;
  --color-lila: #e4ceff;
  --color-mango: #ffb532;
  --color-sunset: #ff6835;
  --color-midnight: #00335e;
}

.gradient-word {
  @apply rounded-full px-3;
}

.gradient-word.amber {
  @apply bg-sunset text-white;
}

.gradient-word.lila {
  @apply from-lila/30 to-lila/0;
}

/* Headre */
#app-header {
  @apply flex top-0 items-center justify-center h-16 z-[99] w-full fixed transition-all;
}

#app-header.active {
  @apply bg-mango;
}

#app-header.active a {
  @apply text-deeplum;
}

/* Hero */
#hero h1 span {
  @apply bg-deeplum text-white inline-block px-3.5 rounded-full my-1 font-semibold;
}

/* Splide */
#why .splide .title {
  @apply text-4xl text-sunset font-display font-semibold mb-3 lg:text-5xl;
}

#why .splide .subtitle {
  @apply text-lg text-white/60 font-sora lg:text-4xl lg:leading-16;
}

#why .splide .subtitle span {
  @apply text-white/100 font-medium;
}

.text-span {
  @apply bg-deeplum text-white px-3 py-1 rounded-full font-bold;
}

.hap-wrap {
  @apply mx-auto px-4 lg:px-0 lg:w-7xl;
}

/* Animations Underline */
.underline-animation {
  text-decoration: none;
  position: relative;
  white-space: nowrap;

  svg {
    position: absolute;
    top: 80%;
    left: 0;
    width: 100%;
    height: auto;
  }

  .stroke {
    /* stroke: var(--color-deeplum); */
    stroke-width: 0.15em;
    stroke-dasharray: 822;
    stroke-dashoffset: 822;
  }
}
