---
const subheader = "Queremos un mundo más consciente y feliz.";
const text1 =
  "Impulsamos culturas organizacionales más humanas, conscientes y felices, promoviendo el bienestar laboral y personal como motor estratégico de transformación.";
const text2 = "La felicidad en el trabajo es posible y rentable.";
---

<section id="purpose" class="py-12 bg-deeplum lg:py-24">
  <div class="container mx-auto px-4 lg:px-0">
    <div class="grid lg:grid-cols-1 lg:gap-2">
      <!-- left -->
      <div class="mb-5">
        <!-- uptitle -->
        <div class="flex items-center gap-3 mb-4">
          <div class="size-[12px] relative flex items-center justify-center">
            <div class="absolute size-full bg-lila rounded-full z-10"></div>
          </div>
          <p class="font-display text-sm text-lila font-light lg:text-lg">
            {subheader}
          </p>
        </div>
        <!-- title -->
        <h2
          class="text-white text-3xl font-display font-semibold lg:text-6xl it"
          id="pTitle"
        >
          {text1}
        </h2>
      </div>
      <!-- right -->
      <div class="lg:pt-6">
        <p
          class="text-lila font-sora text-lg font-medium lg:text-3xl leading-[1.5] italic"
          id="pText"
        >
          {text2}
        </p>
      </div>
    </div>
  </div>
</section>

<script>
  import { animateFromX } from "../assets/animate.js";

  document.addEventListener("DOMContentLoaded", () => {
    animateFromX("#pTitle");
    animateFromX("#pText", { delay: 0.3 });
  });
</script>
