---
import videoHero from "../assets/video_hero.mp4";
import background from "../assets/bg.webp";
---

<section id="hero">
  <!-- top -->
  <div class="bg-lila hero-top bg-cover">
    <div class="container mx-auto px-4 pt-16 pb-40">
      <h1 class="font-display font-medium text-4xl text-center text-deeplum">
        ¿Puedes identificar cómo se<span>siente trabajar</span>en tu
        organización... y <span>cómo te gustaría</span> que se <span
          >sintiera</span
        >?
      </h1>
    </div>
  </div>
  <!-- bottom -->
  <div
    class="-mt-24 bg-linear-to-t from-deeplum from-53% to-indigo-500/0 to-53%"
  >
    <div class="container mx-auto px-4">
      <video
        src={videoHero}
        autoplay
        muted
        loop
        playsinline
        class="w-full h-full object-cover rounded-xl lg:h-96"></video>
    </div>
  </div>
</section>

<style>
  .hero-top {
    background-image: url(../assets/bg.webp);
  }
</style>
