---
const subheader = "Queremos un mundo más consciente y feliz.";
const text2 = "La felicidad en el trabajo es posible y rentable.";
---

<script>
  import { animateSvgUnderlineOnce } from "../assets/animate.js";

  animateSvgUnderlineOnce([
    { selector: "#underline1", delay: 0 },
    { selector: "#underline2", delay: 0.4 },
    { selector: "#underline3", delay: 0.8 },
  ]);
</script>

<section id="purpose" class="py-12 bg-deeplum lg:py-24">
  <div class="container mx-auto px-4 lg:px-0">
    <div class="grid lg:grid-cols-1 lg:gap-2">
      <!-- left -->
      <div class="mb-5">
        <!-- uptitle -->
        <div
          class="flex items-center gap-3 mb-4 bg-lila rounded-4xl justify-center lg:inline-flex lg:px-4 lg:py-3"
        >
          <div
            class="size-[12px] relative lg:flex items-center justify-center hidden"
          >
            <div class="absolute size-full bg-deeplum rounded-full z-10"></div>
          </div>
          <p class="font-display font-medium text-deeplum lg:text-2xl">
            {subheader}
          </p>
        </div>
        <!-- title -->
        <h2
          class="text-white text-3xl font-poppins font-semibold lg:text-6xl it"
          id="pTitle"
        >
          Impulsamos culturas corporativas más <u class="underline-animation"
            ><svg
              id="underline1"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 255 32.61"
              ><path
                d="M5 14.11s54-8 125-9 120 5 120 5-200.5-5.5-239.5 17.5"
                class="stroke stroke-lila"
                fill="none"
                stroke="red"
                stroke-linecap="round"
                stroke-linejoin="round"></path></svg
            >humanas</u
          >, <u class="underline-animation"
            ><svg
              id="underline2"
              viewBox="0 0 363 31"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M0.5 26C50.5 14 189.1 -7.29998 343.5 3.50002C202.573 3.50002 79.4472 18.5 35.5 26C77.3333 22.5 170.8 17.6 210 26"
                class="stroke-lila"  stroke-width="8" stroke-linecap="round"></path>

              <!-- <path
                d="M1.55066 21.2419C2.19367 20.9204 2.83668 20.5989 61.5212 17.2182C120.206 13.8376 236.912 7.40745 297.998 4.25572C359.085 1.10399 361.014 1.4255 361.204 2.07338C361.394 2.72126 359.786 3.68578 358.476 4.34341C357.165 5.00103 356.201 5.32254 312.461 8.22096C268.722 11.1194 182.237 16.585 134.79 20.0436C87.344 23.5022 81.5569 24.7882 78.0934 25.6115C74.6299 26.4347 73.6654 26.7563 74.9368 27.0826C76.2082 27.409 79.7447 27.7305 110.181 28.0569C140.617 28.3833 197.845 28.7048 256.807 29.036"
                class="stroke-lila"
                stroke-width="8"
                stroke-linecap="round" ></path> -->
            </svg>
            conscientes</u
          > y <u class="underline-animation"
            ><svg
              id="underline3"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 255 32.61"
              ><path
                d="M5 14.11s54-8 125-9 120 5 120 5-200.5-5.5-239.5 17.5"
                class="stroke stroke-lila"
                fill="none"
                stroke="red"
                stroke-linecap="round"
                stroke-linejoin="round"></path></svg
            >felices</u
          >, promoviendo el bienestar laboral y personal como motor estratégico
          de transformación.
        </h2>
      </div>
      <!-- right -->
      <div class="lg:pt-6">
        <p
          class="text-lila font-sora text-lg font-medium lg:text-3xl leading-[1.5] italic"
          id="pText"
        >
          {text2}
        </p>
      </div>
    </div>
  </div>
</section>

<script>
  import { animateFromX } from "../assets/animate.js";

  document.addEventListener("DOMContentLoaded", () => {
    animateFromX("#pTitle");
    animateFromX("#pText", { delay: 0.3 });
  });
</script>
