---
import videoHero from "../assets/video_hero.mp4";
---

<script>
  import { heroSplitText } from "../assets/animate.js";

  document.addEventListener("DOMContentLoaded", () => {
    heroSplitText("#hTitle");
  });
</script>

<section id="hero">
  <!-- top -->
  <div class="bg-lila hero-top bg-cover">
    <div class="mx-auto px-4 pt-25 pb-40 | lg:pt-44 lg:pb-96 container" id="hTitle">
      <h1
        class="font-sora font-medium text-3xl text-center text-deeplum | lg:text-7xl" style="letter-spacing: 3px;"
      >
        ¿Puedes identificar cómo se<span>siente</span> trabajar en tu
        organización... y cómo te gustaría que se <span
          >sintiera</span
        >?
      </h1>
    </div>
  </div>
  <!-- bottom -->
  <div
    class="-mt-24 bg-linear-to-t from-deeplum from-53% to-indigo-500/0 to-53% | lg:-mt-64"
  >
    <div class="mx-auto px-4 | md:w-2/3 md:pb-10">
      <video
        src={videoHero}
        autoplay
        muted
        loop
        playsinline
        class="w-full h-full object-cover rounded-xl lg:h-[500px] shadow-lg shadow-black/12"></video>
    </div>
  </div>
</section>

<style>
  .hero-top {
    background-image: url(../assets/bg.webp);
  }
</style>
