<section id="purpose" class="py-12">
  <div class="container mx-auto px-4 lg:px-0 lg:flex lg:gap-21">
    <div class="mb-4 lg:w-60 shrink-0">
      <h3 class="titile-alt text-center mt-1">Nuestro Proposito</h3>
    </div>
    <div class="text-center lg:text-left">
      <p class="text-3xl lg:text-3xl">
        <span class="font-playfair italic font-semibold">Impulsamos</span> culturas
        organizacionales más humanas, conscientes y felices, <span
          class="font-playfair italic font-semibold"
          >promoviendo el bienestar</span
        > como motor estratégico de transformación.
      </p>
    </div>
  </div>
</section>
