---
import imageAbout from "../assets/about.jpg";
---

<section id="action" class="lg:py-12">
  <div
    class="container mx-auto lg:px-0 h-96 relative lg:rounded-xl overflow-hidden lg:grid lg:grid-cols-2"
  >
    <!-- content -->
    <div
      class="absolute w-full h-full flex flex-col justify-center px-4 z-30 md:bg-violet-800 md:relative md:h-96 md:px-18"
    >
      <!-- title -->
      <h3 class="font-display text-white text-4xl font-semibold mb-5">
        Let’s discuss about your needs
      </h3>
      <!-- text -->
      <p class="text-white font-sora text-sm">
        Contact us to know more about our process, our mission, or even to get a
        precise quote of your project.
      </p>
      <!-- button -->
      <div class="pt-6 md:pt-12">
        <a
          href="#"
          class="text-md text-violet-950 font-medium px-6 py-3.5 bg-purple-300 rounded-full hover:bg-purple-400 transition"
          >Contact us</a
        >
      </div>
    </div>

    <!-- maskColor -->
    <div
      class="absolute w-full h-full bg-linear-to-t from-violet-800 to-black/0 lg:w-1/2 right-0 z-20 md:bg-linear-to-r"
    >
    </div>
    <img src={imageAbout.src} alt="image" class="w-full h-full object-cover" />
  </div>
</section>
