<section id="purpose" class="py-12 bg-deeplum lg:py-24">
  <div class="container mx-auto px-4 lg:px-0">
    <div class="grid lg:grid-cols-2 lg:gap-16">
      <!-- left -->
      <div class="mb-5">
        <!-- uptitle -->
        <div class="flex items-center gap-3 mb-4">
          <div class="size-[12px] relative flex items-center justify-center">
            <div class="absolute size-full bg-lila rounded-full z-10"></div>
          </div>
          <p class="font-display text-sm text-lila font-light lg:text-lg">
            Nuestro Propósito
          </p>
        </div>
        <!-- title -->
        <h2
          class="text-white text-3xl font-display font-semibold lg:text-6xl"
          id="pTitle"
        >
          La <span class="gradient-word lila">felicidad</span> en el trabajo es posible
          y <span class="gradient-word lila">rentable</span>.
        </h2>
      </div>
      <!-- right -->
      <div class="lg:pt-6">
        <p
          class="text-white font-sora text-lg font-medium lg:text-3xl leading-[1.5]"
          id="pText"
        >
          Impulsamos culturas organizacionales más humanas, conscientes y
          felices, promoviendo el bienestar como motor estratégico de
          transformación.
        </p>
      </div>
    </div>
  </div>
</section>

<script>
  import { animateFromX } from "../assets/animate.js";

  document.addEventListener("DOMContentLoaded", () => {
    animateFromX("#pTitle");
    animateFromX("#pText", {delay: 0.3});
  });
</script>
