---
import videoHero from "../assets/video_hero.mp4";
---

<section class="bg-hp-200 pt-12">
  <!-- top -->
  <div class="px-4 container mx-auto pb-8 lg:pb-32 lg:px-0">
    <!-- uptitle -->
    <div class="flex items-center gap-3 mb-4">
      <div class="size-[12px] relative flex items-center justify-center">
        <div class="absolute size-full bg-orange-500 rounded-full z-10"></div>
      </div>
      <p class="font-display text-sm text-orange-500 font-light lg:text-lg">
        Available for new projects
      </p>
    </div>
    <!-- title -->
    <h1
      class="text-4xl font-semibold font-display pr-3 text-orange-500 leading-[1.2] lg:text-7xl"
    >
      ¿Puedes identificar cómo se <span class="gradient-word"
        >siente trabajar</span
      > en tu organización... y <span class="gradient-word"
        >cómo te gustaría que se sintiera?</span
      >
    </h1>
  </div>

  <!-- bottom -->
  <div class="bg-linear-to-t from-slate-950 from-75% to-hp-200 to-75%">
    <div class="px-4 container mx-auto lg:px-0">
      <video
        src={videoHero}
        autoplay
        muted
        loop
        playsinline
        class="w-full h-full object-cover rounded-xl lg:h-96"></video>
    </div>
  </div>
</section>
