<footer class="bg-mango py-12">
  <div class="container mx-auto px-4 lg:px-0 lg:grid lg:grid-cols-4 gap-9">
    <!-- about -->
    <div class="mb-12">
      <h4 class="font-display text-white/60 text-lg mb-3">HappyPartners.</h4>
      <p class="text-white">
        Impulsamos culturas corporativas más humanas, conscientes y felices,
        promoviendo el bienestar como motor estratégico de transformación.
      </p>
    </div>

    <!-- contact -->
    <div class="mb-12">
      <h4 class="font-display text-white/60 text-lg mb-3">Contactanos</h4>
      <ul class="text-white font-sora text-sm grid gap-2">
        <li>
          <a href="mailto:contacto@happypartners.cl"
            >contacto@happypartners.cl</a
          >
        </li>
        <li>
          <a
            href="https://maps.app.goo.gl/nx6uUXHpbmBY19QA7"
            target="_blank"
            class="underline hover:text-deeplum"
            >Av Prat 390, of 1202 - Concepción, Chile</a
          >
        </li>
      </ul>
    </div>

    <!-- contact -->
    <div class="col-start-4">
      <h4 class="font-display text-white/60 text-lg mb-3">Sociales</h4>
      <ul class="text-white font-sora text-sm flex">
        <!-- <li><a href="#">LinkedIn</a></li>
                <li class="text-white/60 px-3">/</li> -->
        <li>
          <a
            class="flex items-center gap-2 underline hover:text-deeplum"
            href="https://www.instagram.com/happypartners.cl/"
            target="_blank"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              viewBox="0 0 24 24"
              fill="none"
              stroke="#ffffff"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path
                d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z"
              ></path>
              <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
              <path d="M16.5 7.5l0 .01"></path>
            </svg>

            Instagram
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
