---
import Footer from "./Footer.astro";
const currentPath = new URL(Astro.request.url).pathname;
const isHome = currentPath !== '/';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>AHappy Partners | Bienestar Organizacional</title>
  </head>
  <body>
    <!-- navbar -->
    <nav id="app-header">
      <div class="container mx-auto px-4 w-full lg:px-0">
        <a href="#" class="text-xl font-semibold text-deeplum">
          HAPPY PARTNERS
        </a>
      </div>
    </nav>

    <slot />

    <!-- footer -->
    {isHome && <Footer />}
    

    <script>
      import { activateOnScroll } from "../assets/animate.js";
      window.addEventListener("DOMContentLoaded", () => {
        activateOnScroll("#app-header", 50);
      });
    </script>
  </body>
</html>
