---
import Footer from "./Footer.astro";
const currentPath = new URL(Astro.request.url).pathname;
const isHome = currentPath !== "/";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>AHappy Partners | Bienestar Organizacional</title>
  </head>
  <body>
    <!-- navbar -->
    <nav id="app-header" class="bg-deeplum">
      <div class="mx-auto px-4 container lg:px-0">
        <a href="#" class="text-xl font-semibold text-lila">
          <svg
            width="190px"
            height="32px"
            viewBox="0 0 415 70"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M402.536 57.9602C401.496 57.9602 400.396 57.8402 399.236 57.6002C398.076 57.4002 396.956 57.1002 395.876 56.7002C394.796 56.2602 393.856 55.7602 393.056 55.2002C392.296 54.6002 391.816 53.9402 391.616 53.2202C391.456 52.8202 391.396 52.4402 391.436 52.0802C391.476 51.6802 391.596 51.2802 391.796 50.8802C391.996 50.4402 392.296 50.0002 392.696 49.5602C393.056 49.1202 393.416 48.8802 393.776 48.8402C394.176 48.7602 394.676 48.8802 395.276 49.2002C395.796 49.4002 396.356 49.6602 396.956 49.9802C397.596 50.3002 398.236 50.6202 398.876 50.9402C399.556 51.2602 400.236 51.5202 400.916 51.7202C401.636 51.9202 402.336 52.0202 403.016 52.0202C404.496 52.0202 405.676 51.7802 406.556 51.3002C407.436 50.7802 407.876 50.0602 407.876 49.1402C407.876 48.6202 407.736 48.1602 407.456 47.7602C407.176 47.3602 406.796 47.0402 406.316 46.8002C405.876 46.5202 405.336 46.2802 404.696 46.0802C404.096 45.8402 403.436 45.6402 402.716 45.4802C402.036 45.2802 401.316 45.0602 400.556 44.8202C399.556 44.5402 398.556 44.2002 397.556 43.8002C396.556 43.4002 395.656 42.8802 394.856 42.2402C394.096 41.6002 393.476 40.8002 392.996 39.8402C392.516 38.8802 392.276 37.6802 392.276 36.2402C392.276 34.4402 392.696 32.9202 393.536 31.6802C394.416 30.4002 395.676 29.4202 397.316 28.7402C398.956 28.0602 400.936 27.7202 403.256 27.7202C404.056 27.7202 404.816 27.7802 405.536 27.9002C406.296 28.0202 407.016 28.2002 407.696 28.4402C408.416 28.6402 409.096 28.9002 409.736 29.2202C410.416 29.5402 411.056 29.9002 411.656 30.3002C412.656 30.8602 413.176 31.5202 413.216 32.2802C413.256 33.0002 412.976 33.7802 412.376 34.6202C411.936 35.1802 411.496 35.5802 411.056 35.8202C410.616 36.0202 410.156 36.0202 409.676 35.8202C409.036 35.5002 408.336 35.1602 407.576 34.8002C406.856 34.4002 406.096 34.0602 405.296 33.7802C404.536 33.5002 403.736 33.3602 402.896 33.3602C402.096 33.3602 401.376 33.4802 400.736 33.7202C400.096 33.9602 399.616 34.3002 399.296 34.7402C398.976 35.1802 398.816 35.7002 398.816 36.3002C398.816 36.8602 398.976 37.3202 399.296 37.6802C399.616 38.0402 400.036 38.3402 400.556 38.5802C401.076 38.8202 401.696 39.0402 402.416 39.2402C403.136 39.4002 403.896 39.5602 404.696 39.7202C405.816 39.9602 406.956 40.2602 408.116 40.6202C409.276 40.9802 410.336 41.4802 411.296 42.1202C412.296 42.7602 413.096 43.6202 413.696 44.7002C414.296 45.7402 414.596 47.1002 414.596 48.7802C414.596 51.7002 413.516 53.9602 411.356 55.5602C409.236 57.1602 406.296 57.9602 402.536 57.9602Z"
              fill="currentColor"></path>
            <path
              d="M372.438 57.6002C371.358 57.6002 370.558 57.4202 370.038 57.0602C369.558 56.7402 369.258 56.3002 369.138 55.7402C369.018 55.1802 368.958 54.5602 368.958 53.8802V31.6202C368.958 30.9002 369.018 30.2802 369.138 29.7602C369.258 29.2002 369.558 28.7802 370.038 28.5002C370.558 28.1802 371.378 28.0202 372.498 28.0202C373.578 28.0202 374.358 28.1602 374.838 28.4402C375.358 28.7202 375.678 29.0802 375.798 29.5202C375.958 29.9202 376.038 30.3202 376.038 30.7202L375.558 31.8002C375.758 31.4802 376.038 31.1002 376.398 30.6602C376.758 30.1802 377.238 29.7202 377.838 29.2802C378.438 28.8002 379.158 28.4202 379.998 28.1402C380.838 27.8202 381.838 27.6602 382.998 27.6602C383.478 27.6602 383.978 27.7202 384.498 27.8402C385.058 27.9202 385.598 28.0602 386.118 28.2602C386.678 28.4202 387.178 28.6402 387.618 28.9202C388.058 29.2002 388.398 29.5402 388.638 29.9402C388.878 30.3002 388.998 30.7202 388.998 31.2002C388.998 32.4802 388.678 33.5602 388.038 34.4402C387.398 35.3202 386.638 35.7602 385.758 35.7602C385.158 35.7602 384.718 35.7002 384.438 35.5802C384.158 35.4602 383.918 35.3202 383.718 35.1602C383.558 35.0002 383.298 34.8602 382.938 34.7402C382.618 34.6202 382.098 34.5602 381.378 34.5602C380.778 34.5602 380.158 34.6602 379.518 34.8602C378.918 35.0602 378.358 35.3602 377.838 35.7602C377.318 36.1602 376.898 36.6802 376.578 37.3202C376.258 37.9202 376.098 38.6202 376.098 39.4202V54.0002C376.098 54.6802 376.038 55.3002 375.918 55.8602C375.798 56.3802 375.478 56.8002 374.958 57.1202C374.438 57.4402 373.598 57.6002 372.438 57.6002Z"
              fill="currentColor"></path>
            <path
              d="M350.833 57.9603C348.233 57.9603 345.953 57.5403 343.993 56.7003C342.073 55.8603 340.453 54.7203 339.133 53.2803C337.853 51.8003 336.873 50.1603 336.193 48.3603C335.553 46.5203 335.233 44.6203 335.233 42.6603C335.233 39.7803 335.893 37.2203 337.213 34.9803C338.533 32.7403 340.353 30.9803 342.673 29.7003C345.033 28.4203 347.733 27.7803 350.773 27.7803C352.933 27.7803 354.833 28.1203 356.473 28.8003C358.113 29.4803 359.473 30.3803 360.553 31.5003C361.673 32.5803 362.513 33.7803 363.073 35.1003C363.673 36.4203 363.973 37.7003 363.973 38.9403C363.973 41.0603 363.453 42.6003 362.413 43.5603C361.413 44.5203 360.153 45.0003 358.633 45.0003H342.793C342.833 46.3603 343.253 47.5403 344.053 48.5403C344.893 49.5403 345.933 50.3203 347.173 50.8803C348.453 51.4003 349.753 51.6603 351.073 51.6603C352.073 51.6603 352.953 51.6003 353.713 51.4803C354.513 51.3603 355.193 51.2203 355.753 51.0603C356.313 50.8603 356.793 50.6603 357.193 50.4603C357.633 50.2603 358.033 50.0803 358.393 49.9203C358.753 49.7603 359.093 49.6603 359.413 49.6203C359.853 49.5803 360.293 49.6803 360.733 49.9203C361.173 50.1603 361.533 50.5803 361.813 51.1803C362.053 51.5803 362.213 51.9603 362.293 52.3203C362.413 52.6403 362.473 52.9603 362.473 53.2803C362.473 54.0803 361.993 54.8403 361.033 55.5603C360.073 56.2403 358.713 56.8003 356.953 57.2403C355.233 57.7203 353.193 57.9603 350.833 57.9603ZM342.793 40.7403H355.093C355.773 40.7403 356.293 40.6403 356.653 40.4403C357.013 40.2003 357.193 39.7203 357.193 39.0003C357.193 38.0803 356.913 37.2603 356.353 36.5403C355.793 35.7803 355.033 35.2003 354.073 34.8003C353.113 34.3603 351.993 34.1403 350.713 34.1403C349.233 34.1403 347.893 34.4403 346.693 35.0403C345.493 35.6003 344.533 36.3803 343.813 37.3803C343.133 38.3803 342.793 39.5003 342.793 40.7403Z"
              fill="currentColor"></path>
            <path
              d="M306.52 57.54C305.44 57.54 304.64 57.36 304.12 57C303.64 56.68 303.34 56.26 303.22 55.74C303.1 55.18 303.04 54.56 303.04 53.88V31.44C303.04 30.8 303.1 30.22 303.22 29.7C303.34 29.18 303.66 28.78 304.18 28.5C304.7 28.18 305.5 28.02 306.58 28.02C307.54 28.02 308.26 28.14 308.74 28.38C309.22 28.62 309.54 28.92 309.7 29.28C309.86 29.64 309.94 30 309.94 30.36C309.98 30.72 310.02 31 310.06 31.2L309.82 33.12C310.06 32.48 310.46 31.86 311.02 31.26C311.58 30.66 312.26 30.12 313.06 29.64C313.86 29.12 314.72 28.72 315.64 28.44C316.6 28.12 317.58 27.96 318.58 27.96C320.46 27.96 322.14 28.3 323.62 28.98C325.1 29.66 326.36 30.62 327.4 31.86C328.48 33.1 329.3 34.58 329.86 36.3C330.42 37.98 330.7 39.88 330.7 42V53.94C330.7 54.62 330.62 55.24 330.46 55.8C330.34 56.32 330.04 56.74 329.56 57.06C329.08 57.38 328.26 57.54 327.1 57.54C325.98 57.54 325.16 57.36 324.64 57C324.12 56.68 323.8 56.26 323.68 55.74C323.56 55.18 323.5 54.56 323.5 53.88V41.94C323.5 40.5 323.24 39.26 322.72 38.22C322.24 37.18 321.52 36.38 320.56 35.82C319.64 35.26 318.46 34.98 317.02 34.98C315.62 34.98 314.4 35.28 313.36 35.88C312.32 36.44 311.52 37.24 310.96 38.28C310.4 39.32 310.12 40.54 310.12 41.94V53.94C310.12 54.62 310.06 55.24 309.94 55.8C309.82 56.32 309.5 56.74 308.98 57.06C308.5 57.38 307.68 57.54 306.52 57.54Z"
              fill="currentColor"></path>
            <path
              d="M293.946 57.6001C291.986 57.6001 290.306 57.4001 288.906 57.0001C287.506 56.6001 286.366 55.9801 285.486 55.1401C284.606 54.3001 283.946 53.2201 283.506 51.9001C283.106 50.5401 282.906 48.9401 282.906 47.1001V21.6601C282.906 20.9401 282.966 20.3201 283.086 19.8001C283.246 19.2801 283.566 18.8801 284.046 18.6001C284.566 18.2801 285.366 18.1201 286.446 18.1201C287.566 18.1201 288.366 18.2801 288.846 18.6001C289.366 18.9201 289.686 19.3601 289.806 19.9201C289.966 20.4401 290.046 21.0201 290.046 21.6601V46.8601C290.046 47.7001 290.106 48.3801 290.226 48.9001C290.386 49.4201 290.606 49.8201 290.886 50.1001C291.206 50.3401 291.606 50.5201 292.086 50.6401C292.606 50.7201 293.226 50.7601 293.946 50.7601C294.706 50.7601 295.346 50.8201 295.866 50.9401C296.426 51.0601 296.846 51.3601 297.126 51.8401C297.406 52.2801 297.546 53.0201 297.546 54.0601C297.546 55.1801 297.366 56.0001 297.006 56.5201C296.686 57.0001 296.246 57.3001 295.686 57.4201C295.166 57.5401 294.586 57.6001 293.946 57.6001ZM280.446 28.6201L286.626 28.6801L294.906 28.4401C295.586 28.4401 296.186 28.5201 296.706 28.6801C297.266 28.8001 297.706 29.1201 298.026 29.6401C298.346 30.1201 298.506 30.9201 298.506 32.0401C298.506 33.0801 298.346 33.8601 298.026 34.3801C297.706 34.9001 297.286 35.2401 296.766 35.4001C296.246 35.5201 295.646 35.5801 294.966 35.5801L286.926 35.4601L280.266 35.5201C279.266 35.4801 278.566 35.2001 278.166 34.6801C277.806 34.1201 277.626 33.2201 277.626 31.9801C277.626 30.8201 277.846 29.9801 278.286 29.4601C278.766 28.9001 279.486 28.6201 280.446 28.6201Z"
              fill="currentColor"></path>
            <path
              d="M258.766 57.6002C257.686 57.6002 256.886 57.4202 256.366 57.0602C255.886 56.7402 255.586 56.3002 255.466 55.7402C255.346 55.1802 255.286 54.5602 255.286 53.8802V31.6202C255.286 30.9002 255.346 30.2802 255.466 29.7602C255.586 29.2002 255.886 28.7802 256.366 28.5002C256.886 28.1802 257.706 28.0202 258.826 28.0202C259.906 28.0202 260.686 28.1602 261.166 28.4402C261.686 28.7202 262.006 29.0802 262.126 29.5202C262.286 29.9202 262.366 30.3202 262.366 30.7202L261.886 31.8002C262.086 31.4802 262.366 31.1002 262.726 30.6602C263.086 30.1802 263.566 29.7202 264.166 29.2802C264.766 28.8002 265.486 28.4202 266.326 28.1402C267.166 27.8202 268.166 27.6602 269.326 27.6602C269.806 27.6602 270.306 27.7202 270.826 27.8402C271.386 27.9202 271.926 28.0602 272.446 28.2602C273.006 28.4202 273.506 28.6402 273.946 28.9202C274.386 29.2002 274.726 29.5402 274.966 29.9402C275.206 30.3002 275.326 30.7202 275.326 31.2002C275.326 32.4802 275.006 33.5602 274.366 34.4402C273.726 35.3202 272.966 35.7602 272.086 35.7602C271.486 35.7602 271.046 35.7002 270.766 35.5802C270.486 35.4602 270.246 35.3202 270.046 35.1602C269.886 35.0002 269.626 34.8602 269.266 34.7402C268.946 34.6202 268.426 34.5602 267.706 34.5602C267.106 34.5602 266.486 34.6602 265.846 34.8602C265.246 35.0602 264.686 35.3602 264.166 35.7602C263.646 36.1602 263.226 36.6802 262.906 37.3202C262.586 37.9202 262.426 38.6202 262.426 39.4202V54.0002C262.426 54.6802 262.366 55.3002 262.246 55.8602C262.126 56.3802 261.806 56.8002 261.286 57.1202C260.766 57.4402 259.926 57.6002 258.766 57.6002Z"
              fill="currentColor"></path>
            <path
              d="M245.665 57.48C244.505 57.48 243.645 57.26 243.085 56.82C242.525 56.38 242.245 55.78 242.245 55.02L242.665 53.04C242.345 53.56 241.805 54.18 241.045 54.9C240.285 55.58 239.285 56.2 238.045 56.76C236.805 57.28 235.305 57.54 233.545 57.54C231.665 57.54 229.885 57.16 228.205 56.4C226.565 55.6 225.105 54.52 223.825 53.16C222.585 51.76 221.585 50.18 220.825 48.42C220.105 46.62 219.745 44.7 219.745 42.66C219.745 40.7 220.105 38.86 220.825 37.14C221.585 35.38 222.605 33.82 223.885 32.46C225.165 31.1 226.625 30.04 228.265 29.28C229.945 28.48 231.705 28.08 233.545 28.08C235.185 28.08 236.565 28.3 237.685 28.74C238.845 29.18 239.825 29.74 240.625 30.42C241.425 31.06 242.085 31.74 242.605 32.46L242.245 30.72C242.245 29.84 242.525 29.18 243.085 28.74C243.645 28.26 244.525 28.02 245.725 28.02C246.845 28.02 247.645 28.2 248.125 28.56C248.605 28.88 248.905 29.34 249.025 29.94C249.145 30.5 249.205 31.14 249.205 31.86V53.82C249.205 54.5 249.145 55.12 249.025 55.68C248.905 56.24 248.585 56.68 248.065 57C247.585 57.32 246.785 57.48 245.665 57.48ZM234.625 50.52C235.985 50.52 237.205 50.18 238.285 49.5C239.365 48.82 240.225 47.9 240.865 46.74C241.545 45.54 241.885 44.22 241.885 42.78C241.885 41.22 241.545 39.86 240.865 38.7C240.185 37.54 239.285 36.64 238.165 36C237.085 35.32 235.865 34.98 234.505 34.98C233.025 34.98 231.705 35.34 230.545 36.06C229.385 36.74 228.465 37.68 227.785 38.88C227.145 40.04 226.825 41.36 226.825 42.84C226.825 44.28 227.165 45.58 227.845 46.74C228.525 47.9 229.445 48.82 230.605 49.5C231.805 50.18 233.145 50.52 234.625 50.52Z"
              fill="currentColor"></path>
            <path
              d="M189.107 57.5402C187.987 57.5402 187.167 57.3802 186.647 57.0602C186.127 56.7402 185.807 56.3002 185.687 55.7402C185.567 55.1402 185.507 54.5202 185.507 53.8802V19.2602C185.507 18.6202 185.567 18.0402 185.687 17.5202C185.847 16.9602 186.187 16.5202 186.707 16.2002C187.227 15.8402 188.047 15.6602 189.167 15.6602H201.887C203.647 15.6602 205.367 15.9602 207.047 16.5602C208.727 17.1602 210.227 18.0602 211.547 19.2602C212.907 20.4602 213.967 21.9402 214.727 23.7002C215.527 25.4602 215.927 27.5202 215.927 29.8802C215.927 32.2002 215.527 34.2402 214.727 36.0002C213.967 37.7202 212.907 39.1802 211.547 40.3802C210.187 41.5802 208.667 42.4802 206.987 43.0802C205.347 43.6802 203.627 43.9802 201.827 43.9802H192.767V53.9402C192.767 54.5802 192.687 55.1802 192.527 55.7402C192.407 56.3002 192.087 56.7402 191.567 57.0602C191.087 57.3802 190.267 57.5402 189.107 57.5402ZM192.767 36.6602H201.887C203.127 36.6602 204.247 36.4202 205.247 35.9402C206.287 35.4202 207.127 34.6602 207.767 33.6602C208.407 32.6202 208.727 31.3202 208.727 29.7602C208.727 28.3602 208.427 27.1602 207.827 26.1602C207.267 25.1202 206.467 24.3202 205.427 23.7602C204.427 23.2002 203.227 22.9202 201.827 22.9202H192.767V36.6602Z"
              fill="currentColor"></path>
            <path
              d="M160.009 69.4201C158.729 68.8601 157.989 68.2201 157.789 67.5001C157.589 66.8201 157.769 65.9001 158.329 64.7401L173.809 30.0601C174.369 28.7801 174.969 28.0201 175.609 27.7801C176.249 27.5001 177.229 27.6401 178.549 28.2001C179.789 28.7601 180.509 29.3801 180.709 30.0601C180.949 30.7401 180.809 31.6601 180.289 32.8201L164.689 67.6801C164.169 68.9601 163.589 69.7001 162.949 69.9001C162.309 70.1401 161.329 69.9801 160.009 69.4201ZM165.589 54.7201L151.729 33.4201C151.009 32.3401 150.709 31.4401 150.829 30.7201C150.989 30.0001 151.629 29.3001 152.749 28.6201C153.989 27.8601 154.949 27.5601 155.629 27.7201C156.349 27.8801 157.069 28.5201 157.789 29.6401L168.769 46.7401L165.589 54.7201Z"
              fill="currentColor"></path>
            <path
              d="M135.757 57.18C133.797 57.18 132.037 56.82 130.477 56.1C128.957 55.34 127.657 54.3 126.577 52.98C125.537 51.62 124.737 50.06 124.177 48.3C123.657 46.54 123.397 44.64 123.397 42.6C123.437 40.56 123.737 38.66 124.297 36.9C124.857 35.1 125.657 33.54 126.697 32.22C127.777 30.9 129.077 29.86 130.597 29.1C132.117 28.34 133.837 27.96 135.757 27.96C137.597 27.96 139.317 28.34 140.917 29.1C142.557 29.86 143.997 30.92 145.237 32.28C146.517 33.64 147.517 35.22 148.237 37.02C148.957 38.78 149.317 40.68 149.317 42.72C149.317 44.8 148.957 46.72 148.237 48.48C147.517 50.24 146.537 51.78 145.297 53.1C144.057 54.38 142.617 55.38 140.977 56.1C139.337 56.82 137.597 57.18 135.757 57.18ZM123.757 69.66C122.677 69.66 121.877 69.5 121.357 69.18C120.837 68.86 120.517 68.44 120.397 67.92C120.277 67.4 120.217 66.8 120.217 66.12V31.62C120.217 30.94 120.277 30.34 120.397 29.82C120.517 29.3 120.817 28.88 121.297 28.56C121.817 28.2 122.617 28.02 123.697 28.02C124.737 28.02 125.557 28.18 126.157 28.5C126.757 28.82 127.157 29.36 127.357 30.12V66.06C127.397 66.74 127.337 67.34 127.177 67.86C127.057 68.42 126.737 68.86 126.217 69.18C125.697 69.5 124.877 69.66 123.757 69.66ZM134.797 50.46C136.197 50.46 137.457 50.14 138.577 49.5C139.697 48.82 140.577 47.9 141.217 46.74C141.897 45.54 142.237 44.2 142.237 42.72C142.237 41.2 141.897 39.86 141.217 38.7C140.577 37.54 139.697 36.64 138.577 36C137.457 35.32 136.197 34.98 134.797 34.98C133.437 34.98 132.197 35.32 131.077 36C129.957 36.68 129.057 37.6 128.377 38.76C127.737 39.88 127.417 41.2 127.417 42.72C127.417 44.2 127.737 45.54 128.377 46.74C129.057 47.9 129.957 48.82 131.077 49.5C132.197 50.14 133.437 50.46 134.797 50.46Z"
              fill="currentColor"></path>
            <path
              d="M101.948 57.18C99.9882 57.18 98.2282 56.82 96.6682 56.1C95.1482 55.34 93.8482 54.3 92.7682 52.98C91.7282 51.62 90.9282 50.06 90.3682 48.3C89.8482 46.54 89.5882 44.64 89.5882 42.6C89.6282 40.56 89.9282 38.66 90.4882 36.9C91.0482 35.1 91.8482 33.54 92.8882 32.22C93.9682 30.9 95.2682 29.86 96.7882 29.1C98.3082 28.34 100.028 27.96 101.948 27.96C103.788 27.96 105.508 28.34 107.108 29.1C108.748 29.86 110.188 30.92 111.428 32.28C112.708 33.64 113.708 35.22 114.428 37.02C115.148 38.78 115.508 40.68 115.508 42.72C115.508 44.8 115.148 46.72 114.428 48.48C113.708 50.24 112.728 51.78 111.488 53.1C110.248 54.38 108.808 55.38 107.168 56.1C105.528 56.82 103.788 57.18 101.948 57.18ZM89.9482 69.66C88.8682 69.66 88.0682 69.5 87.5482 69.18C87.0282 68.86 86.7082 68.44 86.5882 67.92C86.4682 67.4 86.4082 66.8 86.4082 66.12V31.62C86.4082 30.94 86.4682 30.34 86.5882 29.82C86.7082 29.3 87.0082 28.88 87.4882 28.56C88.0082 28.2 88.8082 28.02 89.8882 28.02C90.9282 28.02 91.7482 28.18 92.3482 28.5C92.9482 28.82 93.3482 29.36 93.5482 30.12V66.06C93.5882 66.74 93.5282 67.34 93.3682 67.86C93.2482 68.42 92.9282 68.86 92.4082 69.18C91.8882 69.5 91.0682 69.66 89.9482 69.66ZM100.988 50.46C102.388 50.46 103.648 50.14 104.768 49.5C105.888 48.82 106.768 47.9 107.408 46.74C108.088 45.54 108.428 44.2 108.428 42.72C108.428 41.2 108.088 39.86 107.408 38.7C106.768 37.54 105.888 36.64 104.768 36C103.648 35.32 102.388 34.98 100.988 34.98C99.6282 34.98 98.3882 35.32 97.2682 36C96.1482 36.68 95.2482 37.6 94.5682 38.76C93.9282 39.88 93.6082 41.2 93.6082 42.72C93.6082 44.2 93.9282 45.54 94.5682 46.74C95.2482 47.9 96.1482 48.82 97.2682 49.5C98.3882 50.14 99.6282 50.46 100.988 50.46Z"
              fill="currentColor"></path>
            <path
              d="M77.2081 57.48C76.0481 57.48 75.1881 57.26 74.6281 56.82C74.0681 56.38 73.7881 55.78 73.7881 55.02L74.2081 53.04C73.8881 53.56 73.3481 54.18 72.5881 54.9C71.8281 55.58 70.8281 56.2 69.5881 56.76C68.3481 57.28 66.8481 57.54 65.0881 57.54C63.2081 57.54 61.4281 57.16 59.7481 56.4C58.1081 55.6 56.6481 54.52 55.3681 53.16C54.1281 51.76 53.1281 50.18 52.3681 48.42C51.6481 46.62 51.2881 44.7 51.2881 42.66C51.2881 40.7 51.6481 38.86 52.3681 37.14C53.1281 35.38 54.1481 33.82 55.4281 32.46C56.7081 31.1 58.1681 30.04 59.8081 29.28C61.4881 28.48 63.2481 28.08 65.0881 28.08C66.7281 28.08 68.1081 28.3 69.2281 28.74C70.3881 29.18 71.3681 29.74 72.1681 30.42C72.9681 31.06 73.6281 31.74 74.1481 32.46L73.7881 30.72C73.7881 29.84 74.0681 29.18 74.6281 28.74C75.1881 28.26 76.0681 28.02 77.2681 28.02C78.3881 28.02 79.1881 28.2 79.6681 28.56C80.1481 28.88 80.4481 29.34 80.5681 29.94C80.6881 30.5 80.7481 31.14 80.7481 31.86V53.82C80.7481 54.5 80.6881 55.12 80.5681 55.68C80.4481 56.24 80.1281 56.68 79.6081 57C79.1281 57.32 78.3281 57.48 77.2081 57.48ZM66.1681 50.52C67.5281 50.52 68.7481 50.18 69.8281 49.5C70.9081 48.82 71.7681 47.9 72.4081 46.74C73.0881 45.54 73.4281 44.22 73.4281 42.78C73.4281 41.22 73.0881 39.86 72.4081 38.7C71.7281 37.54 70.8281 36.64 69.7081 36C68.6281 35.32 67.4081 34.98 66.0481 34.98C64.5681 34.98 63.2481 35.34 62.0881 36.06C60.9281 36.74 60.0081 37.68 59.3281 38.88C58.6881 40.04 58.3681 41.36 58.3681 42.84C58.3681 44.28 58.7081 45.58 59.3881 46.74C60.0681 47.9 60.9881 48.82 62.1481 49.5C63.3481 50.18 64.6881 50.52 66.1681 50.52Z"
              fill="currentColor"></path>
            <rect x="13" y="50" width="7" height="7" rx="3.5" fill="currentColor"
            ></rect>
            <rect x="13" y="16" width="7" height="16" rx="3.5" fill="currentColor"
            ></rect>
            <mask
              id="mask0_28_48"
              style="mask-type:alpha"
              maskUnits="userSpaceOnUse"
              x="0"
              y="0"
              width="46"
              height="46"
            >
              <circle
                cx="23"
                cy="23"
                r="19.5"
                transform="rotate(-180 23 23)"
                stroke="black"
                stroke-width="7"></circle>
            </mask>
            <g mask="url(#mask0_28_48)">
              <rect
                x="46"
                y="56"
                width="46"
                height="33"
                transform="rotate(-180 46 56)"
                fill="currentColor"></rect>
            </g>
            <rect x="39" y="16" width="7" height="41" rx="3.5" fill="currentColor"
            ></rect>
            <rect y="19" width="7" height="8" rx="3.5" fill="currentColor"></rect>
          </svg>
        </a>
      </div>
    </nav>

    <slot />

    <!-- footer -->
    {isHome && <Footer />}

    <script>
      import { activateOnScroll } from "../assets/animate.js";
      window.addEventListener("DOMContentLoaded", () => {
        activateOnScroll("#app-header", 50);
      });
    </script>
  </body>
</html>
